<!DOCTYPE html>
<html>
  <head>
    <title>Ross Cooperman</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="/style/screen.css" type="text/css" media="screen" />
  </head>
  <body>
    <div id="page">
      <div id="banner">
        Ross Cooperman
      </div>
      <ul id="contact">
        <li><a href="http://github.com/rosscooperman" id="github">github</a></li>
        <li><a href="http://twitter.com/rosscooperman" id="twitter">twitter</a></li>
        <li><a href="http://linkedin.com/in/rosscooperman" id="linkedin">linked in</a></li>
      </ul>
      {{ content }}
    </div>
  </body>
</html>
